<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>assignment_4</title>
    <link rel="stylesheet" href="/static/css/CSS.css">
</head>
<body>
<h1>Hello</h1>

<h1>List of users:</h1>
    <div id="container">
        {% for user in users %}
            <li><h3 id="full_name">Full Name: {{ user.first_name | capitalize() }} {{ user.last_name | capitalize() }} </h3></li>
            <h4>Email: {{ user.email }}</h4>
            <h4>User Name: {{ user.user_name }}</h4>
        {% endfor %}
    </div>




</body>
</html>