<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/CSS.css">
</head>
<body>
    <header>
        <a href="/">Home Page</a> |
        <a href="/assignment_4">assignment_4</a> |
        <a href="/assignment4/users">json</a> |
{#        <a href="/catalog">Catalog</a> |
        <a href="/users">Users</a> |
        <a href="/fetch_fe">Fetch - FrontEnd</a> |
        <a href="/fetch_be">Fetch - BackEnd</a> |
        <a href="/get_json">JSON sample</a> |#}
    </header>
    {% block body %}
    {% endblock %}

</body>
</html>